<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-12 col-12 main_header_left align-items-center">
                        <figure class="errimg">
                            <img src="images/404.png" alt="404" class="img-fluid2" title="404 Error">
                        </figure>
                        <p>Welcome to WeatherALL</p>
                        <h1>{{errormsg}}</h1>
                        <a href="/"><button>Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer  -->
    <footer>
        <p>All Rights Reserved © | abhishekyadav33@protonmail.com</p>
    </footer>
</body>

</html>