<!DOCTYPE html>
<html lang="en">

<head>
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}
    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto">
                <div class="row">
                    <!-- left side div  -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                            <img src="images/about.jpg" alt="Abhishek" class="img-fluid" title="Abhishek Kumar Yadav">
                        </figure>
                    </div>
                    
                    <!-- right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to WeatherALL</p>
                        <h1>I am <span class="text-clr">MERN Stack Web Developer</span>, Gamer and a Freelancer.</h1>
                        <a href="https://www.linkedin.com/in/abhishekyadav33/"><button>About Me</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- footer  -->
    <footer>
        <p>All Rights Reserved © | abhishekyadav33@protonmail.com</p>
    </footer>
</body>

</html>